<mat-drawer-container class="nav-container" autosize>
  <mat-drawer class="nav-sidenav" mode="side" [opened]="isOpened">
   <div class="navigationWrap">
    <div class="upperLinks">
      <img src="assets/logo.svg" class="logo mx-auto" />

      <ul class="navigation">
       <li class="link">
         <a class="link-item">HOME</a>
       </li>
       <li class="link">
         <a routerLink="/app/dashboard" routerLinkActive="is-active" class="link-item">
           <mat-icon>dashboard</mat-icon>
         </a>
       </li>
       <li class="link">
         <a routerLink="/app/accounts" routerLinkActive="is-active" class="link-item">
           <mat-icon>cloud</mat-icon>
         </a>
       </li>
       <li class="link">
         <a routerLink="/app/financial-transactions" routerLinkActive="is-active"  class="link-item">
           <mat-icon> format_list_bulleted</mat-icon>
         </a>
       </li>
      </ul>
     </div>
     <div class="lowerLinks">
      <ul class="navigation">
        <li class="link">
          <a routerLink="/setting" class="link-item" routerLinkActive="is-active">
            <mat-icon>settings</mat-icon>
          </a>
        </li>
        <li class="link">
          <a routerLink="/logout" class="link-item" routerLinkActive="is-active" >
            <mat-icon>exit_to_app</mat-icon>
          </a>
        </li>
      </ul>
     </div>
   </div>
  </mat-drawer>

  <div class="nav-sidenav-content">
    <mat-icon class="toggle-icon" [ngClass]="isOpened?'opened':'closed'" (click)="toggle()" [fontIcon]="'keyboard_arrow_' + (isOpened ? 'left' : 'right')"></mat-icon>
  </div>
</mat-drawer-container>
