#header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
}
.title {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  & .icon {
    margin-top: 8px;
    color: #888888;
  }
}
.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  border: 1px solid #d6d5d9;
  padding: 5px;
  max-width: 300px;
  width: 100%;
  & .icon {
    height: 24px;
    color: #b5b4ba;
  }
  & .inputWrap {
    align-items: center;
    display: flex;
    gap: 9px;
    & input {
      background-color: transparent;
    }
  }
}

.profileNotification {
  display: flex;
  gap: 20px;
  align-items: center;
  & .notification {
    color: #888888;
  }
  & .profileWrap {
    display: flex;
    gap: 10px;
    & .nameWrap {
      & .name {
        font-weight: 600;
      }
      & .role {
        margin-top: -5px;
        font-size: 14px;
        font-weight: 500;
        color: #0080ff;
      }
    }
    & .icon {
      margin-top: 8px;
      color: #888888;
    }
  }
}
