::ng-deep #financialTransactions {
  & .tableWrap {
    overflow-x: scroll !important;
  }
  .ant-switch {
    background-color: var(--light-grey-color);
    &.ant-switch-checked{
      background-color: var(--primary-color);
    }
  }
}
