<div class="mainWrap p-4">
  <div class="pageHeader">
    <div class="closeBtn flex justify-end pointer" (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>
    </div>
    <div class="pageTitle font-semibold text-md mb-9">{{recievedData?'Edit': 'Create'}} Journal Category</div>
    <div *ngIf="journalForm" class="formWrap max-w-[90%] mx-auto">
      <form [formGroup]="journalForm">
        <div class="formGroupRow flex justify-between items-center lg:gap-5 flex-col md:flex-wrap md:flex-row">
          <div class="formGroup mb-5 w-[48%]">
            <label  class="font-normal text-sm">Journal Category</label>
            <input  nz-input type="text" formControlName="journalCategory"  required class="w-full p-2 mt-3 rounded-md"  />
          </div>

          <div class="formGroup mb-5 w-[48%]">
            <label  class="font-normal text-sm">Transaction VAT Category</label>
            <nz-select class="w-full mt-3 rounded-md" formControlName="transactionVATCategory" nzPlaceHolder="Select VAT Category">
              <nz-option nzLabel="Incoming" [nzValue]="'incoming'"></nz-option>
              <nz-option nzLabel="Outgoing" [nzValue]="'outgoing'"></nz-option>
              <nz-option nzLabel="Reported" [nzValue]="'reported'"></nz-option>
            </nz-select>
          </div>
          <div class="formGroup mb-5 w-[48%]">
            <label  class="font-normal text-sm">Select Date Range</label>
            <nz-range-picker class="w-full mt-3 rounded-md" formControlName="date" (ngModelChange)="onChange($event)"></nz-range-picker>

          </div>
        </div>
      </form>
    </div>


    <div class="buttonWrap flex justify-end gap-4">
      <button (click)="close()" class="min-w-[100px] py-2 px-4 font-bold text-sm text-[--black-color] rounded-md border border-solid border-[--light-grey-color]">Cancel</button>
      <button *ngIf="!recievedData" (click)="createJournal()" class="min-w-[100px] py-2 px-4 font-bold text-sm bg-[--primary-color] text-white rounded-md">Save</button>
      <button *ngIf="recievedData" (click)="updateJournal()" class=" min-w-[100px] py-2 px-4 font-bold text-sm bg-[--primary-color] text-white rounded-md">Update</button>
    </div>
  </div>

</div>
