.stat {
  & .statBlock:nth-child(2) {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: -60%;
      height: 100%;
      width: 1px;
      background-color: var(--light-grey-color);
    }
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -60%;
      height: 100%;
      width: 1px;
      background-color: var(--light-grey-color);
    }
  }
}
